/* Estilos para toda la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    margin-top: 5%;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.radio{
    margin-bottom: 10px;
}

.lblRes{
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

#txtCantidad {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
}

#res {
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#btnCalcular {
    background-color: #007bff;
    color: white;
}

#btnLimpiar {
    background-color: #dc3545;
    color: white;
}

.piedepagina {
    margin-top: 20px;
    text-align: center;
}
