/*Estilos Del Ejercicio 1*/
/* Estilos para toda la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    margin: 5%;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* Estilos para las etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
}

#btnCalcular {
    background-color: blue;
    color: white;
}

#btnLimpiar {
    background-color: red;
    color: white;
}

#btnEnviar {
    background-color: green;
    color: white;
}

/* Estilos para el pie de página */
.piedepagina {
    margin-top: 20px;
    padding: 10px;
    background-color: #ccc;
    text-align: center;
    width: 100%;
}


