/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.ingresar,
.resultados {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Estilos para la sección de ingreso */
.ingresar {
    width: 40%;
}

textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button#btnLimpiar {
    background-color: #f44336;
}

button:hover {
    opacity: 0.8;
}

/* Estilos para la sección de resultados */
.resultados {
    width: 40%;
}

label {
    display: block;
    margin-bottom: 10px;
}

#titulolbl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para los resultados específicos */
span {
    font-weight: bold;
}
